<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <%- include("../includes/bootstrap.ejs") %>
    <link rel="stylesheet" href="/css/help.css" />
  </head>
  <body>
    <%- include("../includes/navbar.ejs") %>
    <h1 class="help-page__links-found">
      Helpful Links Found For
      <span class="searched-value">"<%= searchedVal %>"</span>&nbsp;:
    </h1>
    <% if (links.length !== 0) { %>
    <ul class="help-page__links">
      <% for (let i = 0; i <= links.length; i++) { %>
      <li class="help-page__link">
        <% console.log(links[i]) %>
        <a class="help-page__link-link" href="/<%= links[i] %>"
          ><%= links[i] %></a
        >
      </li>
      <% } %>
    </ul>
    <% } else { %>
    <li class="help-page__link nothing-found-header">
      <a href="/homepage" class="help-page__link-link"
        >Nothing Found! Go to homepage?</a
      >
    </li>
    <% } %>
  </body>
</html>
