<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entertainment: countries</title>
    <%- include("../../includes/bootstrap.ejs") %>
    <link rel="stylesheet" href="/css/entertainment/home.css">
    <link rel="stylesheet" href="/css/entertainment/movie.css">
    <script type="text/javascript">
        function showLoadingSpinner() {
          document.querySelector('.spinner-wrapper').style.display = 'block';
        }
      </script>
</head>
<body>
    <%- include("../../includes/navbar.ejs") %>
    <nav class="home-nav">
      <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" style="background-color: transparent !important; color: white !important;" href="/entertainment">Entertainment Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white !important;"href="/entertainment/movie-searcher">Movie Searcher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="background-color: transparent !important; color: white !important;" href="/entertainment/countries">Country Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white !important;"href="/entertainment/covid">COVID Cases</a>
          </li>
        </ul>
    </nav>
    <form onsubmit="showLoadingSpinner()" action="/entertainment/countries" method="POST">
        <div class="form-group submission" style="margin: auto !important;">
          <input type="text" class="form-control input-movie" placeholder="Country Name" name="country" required>
          <button type="submit" class="btn btn-info search-movie " >Search</button>
          <div class="spinner-wrapper" style="display: none !important;">
            <div
              id="loading-spinner"
              class="spinner-border text-primary"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <small id="emailHelp" class="form-text text-muted" style="color: white !important; margin-bottom: 5%;">Retrieve information on any country in the world.</small>
        </div>
      </form>
      <% if (searchedCountry === undefined) { %>
        <div style="margin: auto; width: 80%; text-align: center; margin-top: 10%;">
          <img src="https://img.icons8.com/color/96/000000/around-the-globe.png" height="145" width="145"/>
        </div>
      <% } else { %>
        <% if (countryFound === null) { %>
          <p style="color: white; font-weight: 1.5rem; margin-left: 10%;">Results for "<%= searched %>": 0</p>
          <p style="color: red; text-align: center; margin-top: 10%;">Movie Not Found :(</p>
          <div style="margin: auto; width: 80%; text-align: center; margin-top: 10%;">
            <img src="https://img.icons8.com/color/96/000000/around-the-globe.png" height="145" width="145"/>
          </div>
        <% } else { %>
          <% for (const info in countryFound) { %>
            <p style="color: white; background-color: #17b84d; border-radius: 0.25rem; padding: 10px; width: 80%; margin: 10px auto 10px auto;"><span style="color: black; font-weight: bold;"><%= info %>:&nbsp; </span><%= `${countryFound[info]}` %></p>
          <% } %>
        <% } %>
      <% } %>
    </body>
    </html>

